[user]
    name = Mathieu Lapointe
    email = matlapo.dev@gmail.com

[credential]
    helper = store

[alias]
    ca = commit --amend
    cm = commit -m
    s = status -s

[apply]
    # Detect whitespace errors when applying a patch
    whitespace = fix

    # Treat spaces before tabs and all kinds of trailing whitespace as an error
    # [default] trailing-space: looks for spaces at the end of a line
    # [default] space-before-tab: looks for spaces before tabs at the beginning of a line
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[core]
pager = less -r

[pull]
    rebase = true
