# easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# shortcuts
alias g="git"
alias vim="nvim"
alias v="nvim"
alias zc="v ~/.zshrc"
alias s="subl"
alias ev="v ~/.config/nvim/init.vim"

# enable aliases to be sudo’ed
alias sudo='sudo '

# reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'
