<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>6C177EAB-026D-48A6-AD80-07703934451F</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>rust</string>
			<key>text</key>
			<string>rust-fallback</string>
			<key>url</key>
			<string>dash-plugin://keys={rust}&amp;query=rust%20{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
